Repository hmcts/civil-damages-ccd-definition, pull requests merged in 2021-05, with the labels that each got.

#35 refactor: enforce dm-store supported documents (CMC-1472)
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/DocumentOrImageWithRegex.json
  ccd-definition/ComplexTypes/DocumentWithRegex.json
  ccd-definition/ComplexTypes/ResponseDocument.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/fragments/dq/draftDirections.page.js
  e2e/steps_file.js
Labels: based-off-29, data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-35

#33 refactor:content changes on org policy page (CMC-1505)
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-33

#40 feat: added what happens next text to SoT (CMC-1503)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-40

#49 feat: rename issue claim button (CMC-1553)
  ccd-definition/CaseEvent/User/UserEvents.json
  e2e/steps_file.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-49

#53 refactor: changing eligibility content (CMC-1556)
  ccd-definition/CaseField.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-53

#59 refactor: update org question (CMC-1504)
  ccd-definition/CaseField.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-59

#55 feat: exit survey (CMC-1117) (1/2)
  e2e/api/steps.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-55

#64 feat: content changes in sot and org hint (CMC-1571 & CMC-1572)
  ccd-definition/CaseField.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-64

#56 feat:Validate fee after claim submission (cmc-1546)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-56

#60 fix: add callback validation for collections in dq (CMC-1562)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/ComplexTypes/DQ/Hearing.json
  ccd-definition/ComplexTypes/DQ/Witnesses.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-60

#65 fix: add missing submitted callback (CMC-NA)
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-65

#57 feat:expose all states for case lists (cmc-1558)
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  e2e/api/steps.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-57

#58 refactor: removing access for claimant to litigation friend event (CMC-1538) (2/2)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEvent/User/UserEvents.json
  e2e/api/steps.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-58

#63 refactor: removed read access to events for defendant (CMC-1536)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-63

#45 feat: refactor of notifications (CMC-1442) 2/4
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AmendPartyDetails.json
  ccd-definition/CaseEventToFields/AmendPartyDetails.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-45

#68 fix: added missing wait for business process to RPA handoff tests
  e2e/tests/rpaHandoff_test.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-68

#69 tech: correct pre and post conditions for notification events
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-69

#70 fix: added missing about to submit callback to start business process (CMC-1442)
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-70

#41 feat: add screen upload document (CMC-1490) (1/2)
  build.gradle
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
  e2e/fixtures/events/addOrAmendClaimDocuments.js
  e2e/pages/createClaim/uploadParticularsOfClaimQuestion.page.js
  e2e/steps_file.js
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-41

#30 feat: reset statement of truth (CMC-1497)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/statementOfTruth.js
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-30

#72 feat: update notification event name (CMC-986)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-72
