Repository hmcts/civil-damages-ccd-definition, pull requests merged in 2021-04, with the labels that each got.

#14 build: bump ccd definition to latest
  build.gradle
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseState/approver.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim.json
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/CourtLocation.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  ccd-definition/ComplexTypes/DocumentWithRegex.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  ccd-definition/ComplexTypes/StatementOfTruth.json
  ccd-definition/FixedLists/DocumentType.json
  ccd-definition/State.json
  ccd-definition/UserProfile.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/createClaim.js
  e2e/fragments/confirmDetails.page.js
  e2e/fragments/servedDocument.js
  e2e/steps_file.js
  e2e/tests/rpaHandoff_test.js
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-14

#15 feat: added ccd definition upload on aat and demo
  Jenkinsfile_CNP
  bin/variables/load-demo-environment-variables.sh
  charts/civil-damages-ccd/Chart.yaml
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-15

#19 fix: error when choosing no for experts (CMC-1375) 2/2
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/ComplexTypes/DQ/Experts.json
  e2e/api/steps.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/defendantResponse.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-19

#22 fix: update fee version to 3 in api test
  e2e/fixtures/events/createClaim.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-22

#20 feat: Correct statement of truth spacing (CMC-1479)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/StatementOfTruth.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-20

#13 feat: solicitor access to events through case roles (CMC-1183)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseRoles.json
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/config.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/tests/api_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/smoke_test.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-13

#26 feat:Grant caa only notified claims
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-26

#27 build(deps): bump commons-io from 2.7 to 2.8.0 to solve CVE-2021-29425
  build.gradle
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-27

#31 fix: definition upload LiveFrom error
  Jenkinsfile_nightly
  ccd-definition/SearchCasesResultFields.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-31

#16 feat: future proof payments (CMC-1433)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/PaymentEvents.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/CaseTypeTab/Summary.json
  ccd-definition/ComplexTypes/PaymentDetails.json
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/resubmitClaim.js
  e2e/pages/createClaim/paymentReference.page.js
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-16

#25 feat: solicitor access to events through case roles (CMC-1183)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseRoles.json
  codecept.conf.js
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/config.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/smoke_test.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-25

#29 refactor: content changes for judges (CMC-1489)
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/LitigationFriend.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/api/steps.js
  e2e/steps_file.js
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-29

#37 build: bumped ccd chart version
  charts/civil-damages-ccd/Chart.yaml
  e2e/api/steps.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-37

#39 build: nightly rpa handoff tests (CMC-1511)
  e2e/steps_file.js
  e2e/tests/rpaHandoff_test.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-39

#38 feat: Rename flow states
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseField.json
Labels: data-changes, ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-38

#46 fix: hardcoded xui image temporarily and added wait for organisation search field
  build.gradle
  charts/civil-damages-ccd/values.aat.template.yaml
  charts/civil-damages-ccd/values.preview.template.yaml
  e2e/pages/createClaim/claimantSolicitorOrganisation.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-46

#42 feat:Add new full defence camunda event (CMC-1435)
  build.gradle
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-42

#47 feat:Make Claim Issue event backward compatible for service master (cmc-1454)
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-47

#32 feat: add litigation friend details for both parties to tab (CMC-1499)
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-32

#50 refactor:Rename camunda event based onf flow state (cmc-1435)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-50

#48 feat: dq content changes (CMC-1543)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/ComplexTypes/DQ/DisclosureOfNonElectronicDocuments.json
  ccd-definition/ComplexTypes/DQ/FileDirectionsQuestionnaire.json
  ccd-definition/ComplexTypes/DQ/FurtherInformation.json
  ccd-definition/FixedLists/FileDirectionsQuestionnaireConfirm.json
Labels: ns:unspec, prd:civil-damages, rel:civil-damages-ccd-pr-48
